body {
    height: 100%;
    width: 100%;
    font-family: 'Quicksand', 'Nunito', sans-serif;
}

.offcanvas {
    z-index: 314161;
    background-color:rgb(224, 252, 255);
}

.navbar {
    background-color: rgb(224, 252, 255) !important;
}

#map {
    height: 70vh;
}

.map-container {
    /* relative position can absolutely position search container by coordinates */
    /* position: relative; */
    width: auto;
    height: 70vh;
    overflow: scroll;
}

#search-container {
    position: relative;
    top: 10px; /* 10px from the top */
    left: 15px; /* 15px from the left */ 
    z-index: 320000;
    padding: 6px;
    background-color:rgb(255,255,255, 0.5); /* opacity 50% */
}

#search-results {
    overflow-y: scroll;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(222, 254, 255);
    background-blend-mode: color-dodge;
}

#search-btn {
    background-color: rgb(179, 195, 248);
    color:white;
    border-radius: 10px;
}